In [1]:
import bigframes.pandas as bpd
from bigframes.ml import decomposition

bq_df = bpd.read_gbq('bqml_tutorial.ratings', columns=('user_id', 'item_id', 'rating'))
bq_df

    user_id  item_id  rating
0      4354      968     4.0
1      3622     3521     5.0
2      5543      920     2.0
3       445     3175     5.0
4      5535      235     4.0
5      4422     1097     4.0
6      3119     1356     4.0
7      6037     1231     4.0
8       851      196     3.0
9      3111      435     3.0
10     5403      648     5.0
11     3601     2734     3.0
12     4655     2949     4.0
13     1274     3093     5.0
14     1521      350     4.0
15     3072      454     3.0
16     3314     1330     4.0
17     3762     2719     1.0
18     1687     2169     3.0
19      970     3081     4.0
20     1265     2248     5.0
21     1502      104     4.0
22      194      500     4.0
23     3521     1088     3.0
24     1889     3567     3.0
...

[1000209 rows x 3 columns]

In [37]:
model = decomposition.MatrixFactorization(
    num_factors=34,
    feedback_type='explicit',
    user_col='user_id',
    item_col='item_col',
    rating_col='rating_col',
    l2_reg=9.83,
)

model

MatrixFactorization(item_col='item_col', l2_reg=9.83, num_factors=34,
                    rating_col='rating_col', user_col='user_id')

In [ ]:
fitted = model.fit(bq_df.rename(columns={'rating': 'rating_col', 'item_id': 'item_col'}))
fitted
# scored = model.score(fitted)

# scored

MatrixFactorization(item_col='item_col', l2_reg=9.83, num_factors=34,
                    rating_col='rating_col', user_col='user_id')

In [40]:
scored = model.score(fitted)

scored

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,0.485282,0.395341,0.025535,0.389906,0.683199,0.683199

In [43]:
# predict_df = scored[['user_id']['item_col']]
# model.predict(predict_df)
model.predict(bq_df.rename(columns={'item_id': 'item_col'}))

    predicted_rating_col  user_id  item_col  rating
0               3.348131     4354       968     4.0
1                5.22349     3622      3521     5.0
2               1.820173     5543       920     2.0
3               4.702228      445      3175     5.0
4               3.206949     5535       235     4.0
5               4.690283     4422      1097     4.0
6               3.944585     3119      1356     4.0
7               4.275766     6037      1231     4.0
8               3.434579      851       196     3.0
9               1.827473     3111       435     3.0
10              4.130928     5403       648     5.0
11              3.231195     3601      2734     3.0
12              3.750037     4655      2949     4.0
13              3.858951     1274      3093     5.0
14               3.34852     1521       350     4.0
15              2.956284     3072       454     3.0
16              3.831856     3314      1330     4.0
17              0.805804     3762      2719     1.0
18               3.65957     1687      2169     3.0
19               3.03197      970      3081     4.0
20              3.384926     1265      2248     5.0
21              4.173243     1502       104     4.0
22              3.918435      194       500     4.0
23              2.451965     3521      1088     3.0
24              2.982963     1889      3567     3.0
...

[1000209 rows x 4 columns]