In [3]:
%load_ext bigframes

The bigframes extension is already loaded. To reload it, use:
  %reload_ext bigframes

In [4]:
%%bqsql
SELECT * FROM `bigquery-public-data.usa_names.usa_1910_2013`

state gender  year    name  number
   HI      F  1999  Ariana      10
   HI      F  2002  Jordyn      10
   HI      F  2006     Mya      10
   HI      F  2010  Jordyn      10
   HI      M  1921   Nobuo      10
   HI      M  1925   Ralph      10
   HI      M  1926   Hisao      10
   HI      M  1927   Moses      10
   HI      M  1933   Larry      10
   HI      M  1933 Alfredo      10
...

[5552452 rows x 5 columns]