# Using ML - Easy linear regression

This demo shows BigQuery DataFrames ML providing an SKLearn-like experience for
training a linear regression model.

In this "easy" version of linear regression, we use a couple of BQML features to simplify our code:

- We rely on automatic preprocessing to encode string values and scale numeric values
- We rely on automatic data split & evaluation to test the model

This example is adapted from the [BQML linear regression tutorial](https://cloud.google.com/bigquery-ml/docs/linear-regression-tutorial).

## 1. Init & load data

Import `bigframes.pandas` module and get the default session

In [22]:
import bigframes.pandas
session = bigframes.pandas.get_global_session()

Define a dataset for storing BQML model, and create it if it does not exist.

In [23]:
dataset = f"{session.bqclient.project}.bqml_tutorial"
session.bqclient.create_dataset(dataset, exists_ok=True)

Dataset(DatasetReference('shobs-test', 'bqml_tutorial'))

Define a model path

In [24]:
penguins_model = f"{dataset}.penguins_model"

Read the penguins data.

In [25]:
# read a BigQuery table to a BigQuery DataFrame
df = bigframes.pandas.read_gbq(f"bigquery-public-data.ml_datasets.penguins")

# take a peek at the dataframe
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie Penguin (Pygoscelis adeliae),Biscoe,40.1,18.9,188.0,4300.0,MALE
1,Adelie Penguin (Pygoscelis adeliae),Torgersen,39.1,18.7,181.0,3750.0,MALE
2,Gentoo penguin (Pygoscelis papua),Biscoe,47.4,14.6,212.0,4725.0,FEMALE
3,Chinstrap penguin (Pygoscelis antarctica),Dream,42.5,16.7,187.0,3350.0,FEMALE
4,Adelie Penguin (Pygoscelis adeliae),Biscoe,43.2,19.0,197.0,4775.0,MALE
5,Gentoo penguin (Pygoscelis papua),Biscoe,46.7,15.3,219.0,5200.0,MALE
6,Adelie Penguin (Pygoscelis adeliae),Biscoe,41.3,21.1,195.0,4400.0,MALE
7,Gentoo penguin (Pygoscelis papua),Biscoe,45.2,13.8,215.0,4750.0,FEMALE
8,Gentoo penguin (Pygoscelis papua),Biscoe,46.5,13.5,210.0,4550.0,FEMALE
9,Gentoo penguin (Pygoscelis papua),Biscoe,50.5,15.2,216.0,5000.0,FEMALE
10,Gentoo penguin (Pygoscelis papua),Biscoe,48.2,15.6,221.0,5100.0,MALE
11,Adelie Penguin (Pygoscelis adeliae),Dream,38.1,18.6,190.0,3700.0,FEMALE
12,Gentoo penguin (Pygoscelis papua),Biscoe,50.7,15.0,223.0,5550.0,MALE
13,Adelie Penguin (Pygoscelis adeliae),Biscoe,37.8,20.0,190.0,4250.0,MALE
14,Adelie Penguin (Pygoscelis adeliae),Biscoe,35.0,17.9,190.0,3450.0,FEMALE
15,Gentoo penguin (Pygoscelis papua),Biscoe,48.7,15.7,208.0,5350.0,MALE
16,Adelie Penguin (Pygoscelis adeliae),Torgersen,34.6,21.1,198.0,4400.0,MALE
17,Gentoo penguin (Pygoscelis papua),Biscoe,46.8,15.4,215.0,5150.0,MALE
18,Chinstrap penguin (Pygoscelis antarctica),Dream,50.3,20.0,197.0,3300.0,MALE
19,Adelie Penguin (Pygoscelis adeliae),Dream,37.2,18.1,178.0,3900.0,MALE
20,Chinstrap penguin (Pygoscelis antarctica),Dream,51.0,18.8,203.0,4100.0,MALE
21,Adelie Penguin (Pygoscelis adeliae),Biscoe,40.5,17.9,187.0,3200.0,FEMALE
22,Gentoo penguin (Pygoscelis papua),Biscoe,45.5,13.9,210.0,4200.0,FEMALE
23,Adelie Penguin (Pygoscelis adeliae),Dream,42.2,18.5,180.0,3550.0,FEMALE
24,Chinstrap penguin (Pygoscelis antarctica),Dream,51.7,20.3,194.0,3775.0,MALE

## 2. Data cleaning / prep

In [26]:
# filter down to the data we want to analyze
adelie_data = df[df.species == "Adelie Penguin (Pygoscelis adeliae)"]

# drop the columns we don't care about
adelie_data = adelie_data.drop(columns=["species"])

# drop rows with nulls to get our training data
training_data = adelie_data.dropna()

# take a peek at the training data
training_data

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Biscoe,40.1,18.9,188.0,4300.0,MALE
1,Torgersen,39.1,18.7,181.0,3750.0,MALE
4,Biscoe,43.2,19.0,197.0,4775.0,MALE
6,Biscoe,41.3,21.1,195.0,4400.0,MALE
11,Dream,38.1,18.6,190.0,3700.0,FEMALE
13,Biscoe,37.8,20.0,190.0,4250.0,MALE
14,Biscoe,35.0,17.9,190.0,3450.0,FEMALE
16,Torgersen,34.6,21.1,198.0,4400.0,MALE
19,Dream,37.2,18.1,178.0,3900.0,MALE
21,Biscoe,40.5,17.9,187.0,3200.0,FEMALE
23,Dream,42.2,18.5,180.0,3550.0,FEMALE
30,Dream,39.2,21.1,196.0,4150.0,MALE
32,Torgersen,42.9,17.6,196.0,4700.0,MALE
38,Dream,41.1,17.5,190.0,3900.0,MALE
40,Torgersen,38.6,21.2,191.0,3800.0,MALE
42,Biscoe,35.5,16.2,195.0,3350.0,FEMALE
44,Dream,39.2,18.6,190.0,4250.0,MALE
45,Torgersen,35.2,15.9,186.0,3050.0,FEMALE
46,Dream,43.2,18.5,192.0,4100.0,MALE
49,Biscoe,39.6,17.7,186.0,3500.0,FEMALE
53,Biscoe,45.6,20.3,191.0,4600.0,MALE
58,Torgersen,40.9,16.8,191.0,3700.0,FEMALE
60,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
62,Dream,36.0,18.5,186.0,3100.0,FEMALE
63,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [27]:
# pick feature columns and label column
feature_columns = training_data[['island', 'culmen_length_mm', 'culmen_depth_mm', 'flipper_length_mm', 'sex']]
label_columns = training_data[['body_mass_g']]                               

# also get the rows that we want to make predictions for (i.e. where the feature column is null)
missing_body_mass = adelie_data[adelie_data.body_mass_g.isnull()]

## 3. Create, score, fit, predict

In [28]:
from bigframes.ml.linear_model import LinearRegression

model = LinearRegression()

# Here we pass the feature columns without transforms - BQML will then use
# automatic preprocessing to encode these columns
model.fit(feature_columns, label_columns)

LinearRegression()

In [29]:
# check how the model performed
model.score(feature_columns, label_columns)

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,223.878763,78553.601634,0.005614,181.330911,0.623951,0.623951

In [30]:
# use the model to predict the missing labels
model.predict(missing_body_mass)

     predicted_body_mass_g
334            5891.735118

[1 rows x 1 columns]

## 4. Save in BigQuery

In [31]:
# save the model to a permanent location in BigQuery, so we can use it in future sessions (and elsewhere in BQ)
model.to_gbq(penguins_model, replace=True)

LinearRegression(optimize_strategy='NORMAL_EQUATION')

## 5. Reload from BigQuery

In [32]:
# WARNING - until b/281709360 is fixed & pipeline is updated, pipelines will load as models,
# and details of their transform steps will be lost (the loaded model will behave the same)
bigframes.pandas.read_gbq_model(penguins_model)

LinearRegression(optimize_strategy='NORMAL_EQUATION')