In [1]:
import bigframes
import bigframes.pandas as bpd
import bigframes.streaming as bs

In [2]:
bigframes.options._bigquery_options.project = "bigframes-load-testing"
job_id_prefix = "test_streaming_"

In [6]:
df = bpd.read_gbq("birds.penguins_bigtable_streaming")

In [7]:
df.sql

"WITH t0 AS (\n  SELECT\n    t4.`species`,\n    t4.`island`,\n    t4.`culmen_length_mm`,\n    t4.`culmen_depth_mm`,\n    t4.`flipper_length_mm`,\n    t4.`body_mass_g`,\n    t4.`sex`,\n    farm_fingerprint(\n      CONCAT(\n        CONCAT('\\\\', REPLACE(coalesce(t4.`species`, ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(t4.`island`, ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t4.`culmen_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t4.`culmen_depth_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t4.`flipper_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t4.`body_mass_g` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(t4.`sex`, ''), '\\\\', '\\\\\\\\'))\n      )\n    ) AS `bigframes_ordering_2`,\n    farm_fingerprint(\n      CONCAT(\n        CONCAT(\n          CONCAT('\\\\', REPLACE(coalesce(t4.`species`, ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(t4.`island`, ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t4.`culmen_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t4.`culmen_depth_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t4.`flipper_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t4.`body_mass_g` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(t4.`sex`, ''), '\\\\', '\\\\\\\\'))\n        ),\n        '_'\n      )\n    ) AS `bigframes_ordering_3`,\n    RAND() AS `bigframes_ordering_4`\n  FROM `bigframes-load-testing`.birds.penguins_bigtable_streaming AS t4\n), t1 AS (\n  SELECT\n    t0.`species`,\n    t0.`island`,\n    t0.`culmen_length_mm`,\n    t0.`culmen_depth_mm`,\n    t0.`flipper_length_mm`,\n    t0.`body_mass_g`,\n    t0.`sex`,\n    (\n      row_number() OVER (ORDER BY t0.`bigframes_ordering_2` IS NULL ASC, t0.`bigframes_ordering_2` ASC, t0.`bigframes_ordering_3` IS NULL ASC, t0.`bigframes_ordering_3` ASC, t0.`bigframes_ordering_4` IS NULL ASC, t0.`bigframes_ordering_4` ASC) - 1\n    ) AS `bigframes_ordering_id`\n  FROM t0\n), t2 AS (\n  SELECT\n    t1.`species`,\n    t1.`island`,\n    t1.`culmen_length_mm`,\n    t1.`culmen_depth_mm`,\n    t1.`flipper_length_mm`,\n    t1.`body_mass_g`,\n    t1.`sex`,\n    t1.`bigframes_ordering_id`\n  FROM t1\n)\nSELECT\n  t3.`species`,\n  t3.`island`,\n  t3.`culmen_length_mm`,\n  t3.`culmen_depth_mm`,\n  t3.`flipper_length_mm`,\n  t3.`body_mass_g`,\n  t3.`sex`\nFROM (\n  SELECT\n    t2.`species`,\n    t2.`island`,\n    t2.`culmen_length_mm`,\n    t2.`culmen_depth_mm`,\n    t2.`flipper_length_mm`,\n    t2.`body_mass_g`,\n    t2.`sex`\n  FROM t2\n) AS t3"

In [8]:
query_job = bigframes.streaming.to_bigtable(
    df.sql,
    instance="streaming-testing-instance",
    table="table-testing",
    service_account_email="streaming-testing@bigframes-load-testing.iam.gserviceaccount.com",
    app_profile=None,
    truncate=True,
    overwrite=True,
    auto_create_column_families=True,
    bigtable_options={},
    job_id=None,
    job_id_prefix=job_id_prefix,
)

/usr/local/google/home/garrettwu/src/bigframes/bigframes/streaming/__init__.py:101: PreviewWarning: The bigframes.streaming module is a preview feature, and subject to change.
  warnings.warn(

In [18]:
query_job.state

'DONE'

In [14]:
query_job.errors

In [17]:
query_job.cancel()

True

In [19]:
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Gentoo penguin (Pygoscelis papua),Biscoe,50.5,15.9,225,5400,MALE
1,Gentoo penguin (Pygoscelis papua),Biscoe,45.1,14.5,215,5000,FEMALE
2,Adelie Penguin (Pygoscelis adeliae),Torgersen,41.4,18.5,202,3875,MALE
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,38.6,17.0,188,2900,FEMALE
4,Gentoo penguin (Pygoscelis papua),Biscoe,46.5,14.8,217,5200,FEMALE
5,Adelie Penguin (Pygoscelis adeliae),Biscoe,35.0,17.9,192,3725,FEMALE
6,Adelie Penguin (Pygoscelis adeliae),Dream,37.5,18.9,179,2975,<NA>
7,Gentoo penguin (Pygoscelis papua),Biscoe,42.0,13.5,210,4150,FEMALE
8,Gentoo penguin (Pygoscelis papua),Biscoe,48.5,14.1,220,5300,MALE
9,Adelie Penguin (Pygoscelis adeliae),Torgersen,45.8,18.9,197,4150,MALE
10,Chinstrap penguin (Pygoscelis antarctica),Dream,49.0,19.6,212,4300,MALE
11,Adelie Penguin (Pygoscelis adeliae),Torgersen,35.9,16.6,190,3050,FEMALE
12,Gentoo penguin (Pygoscelis papua),Biscoe,51.1,16.3,220,6000,MALE
13,Gentoo penguin (Pygoscelis papua),Biscoe,42.6,13.7,213,4950,FEMALE
14,Chinstrap penguin (Pygoscelis antarctica),Dream,46.9,16.6,192,2700,FEMALE
15,Adelie Penguin (Pygoscelis adeliae),Dream,41.1,17.5,190,3900,MALE
16,Gentoo penguin (Pygoscelis papua),Biscoe,49.2,15.2,221,6300,MALE
17,Adelie Penguin (Pygoscelis adeliae),Biscoe,38.1,16.5,198,3825,FEMALE
18,Gentoo penguin (Pygoscelis papua),Biscoe,51.3,14.2,218,5300,MALE
19,Gentoo penguin (Pygoscelis papua),Biscoe,43.6,13.9,217,4900,FEMALE
20,Gentoo penguin (Pygoscelis papua),Biscoe,42.8,14.2,209,4700,FEMALE
21,Chinstrap penguin (Pygoscelis antarctica),Dream,50.2,18.7,198,3775,FEMALE
22,Adelie Penguin (Pygoscelis adeliae),Dream,37.3,17.8,191,3350,FEMALE
23,Gentoo penguin (Pygoscelis papua),Biscoe,<NA>,<NA>,<NA>,<NA>,<NA>
24,Adelie Penguin (Pygoscelis adeliae),Biscoe,39.6,20.7,191,3900,FEMALE

In [20]:
query_job = bigframes.streaming.to_bigtable(
    df.sql,
    instance="streaming-testing-instance",
    table="table-testing",
    service_account_email="streaming-testing@bigframes-load-testing.iam.gserviceaccount.com",
    app_profile=None,
    truncate=True,
    overwrite=True,
    auto_create_column_families=True,
    bigtable_options={},
    job_id=None,
    job_id_prefix=job_id_prefix,
)

/usr/local/google/home/garrettwu/src/bigframes/bigframes/streaming/__init__.py:101: PreviewWarning: The bigframes.streaming module is a preview feature, and subject to change.
  warnings.warn(

In [30]:
print(query_job.state)
print(query_job.error_result)

DONE
{'reason': 'stopped', 'debugInfo': '[CANCELLED] errorProto=code: "JOB_CANCELLED"\nargument: "User requested cancellation"\n\n\tat com.google.cloud.helix.common.Exceptions$Public.jobCancelled(Exceptions.java:947)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2101)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2117)\n\tat com.google.cloud.helix.server.job.LocalJobController.heartbeat(LocalJobController.java:786)\n\tat com.google.cloud.helix.server.job.JobControllerModule$1.heartbeat(JobControllerModule.java:866)\n\tat com.google.cloud.helix.server.job.JobStateMachine$1.heartbeat(JobStateMachine.java:3800)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeatInternal(JobStateMachine.java:3476)\n\tat com.google.cloud.helix.server.job.JobStateMachine.lambda$heartbeat$12(JobStateMachine.java:2733)\n\tat com.google.cloud.helix.common.HelixFutures.wrapSynchronousCall(HelixFutures.java:96)\n\tat com.google.cloud.helix.server.job.JobStateMachine.lambda$runStateSync$13(JobStateMachine.java:2883)\n\tat com.google.cloud.helix.server.job.JobStateMachine.runState(JobStateMachine.java:2901)\n\tat com.google.cloud.helix.server.job.JobStateMachine.runStateSync(JobStateMachine.java:2883)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeat(JobStateMachine.java:2733)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeat(JobStateMachine.java:2708)\n\tat com.google.cloud.helix.server.job.QueuedJobHandler.lambda$addJobs$0(QueuedJobHandler.java:82)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)\n\tat java.base/java.lang.Thread.run(Unknown Source)\n'}
[{'reason': 'stopped'}]

In [29]:
query_job.cancel()

True

In [31]:
df = df[["species", "island", "culmen_length_mm"]]

In [33]:
df

                                      species     island  culmen_length_mm
0           Gentoo penguin (Pygoscelis papua)     Biscoe              50.5
1           Gentoo penguin (Pygoscelis papua)     Biscoe              45.1
2         Adelie Penguin (Pygoscelis adeliae)  Torgersen              41.4
3         Adelie Penguin (Pygoscelis adeliae)  Torgersen              38.6
4           Gentoo penguin (Pygoscelis papua)     Biscoe              46.5
5         Adelie Penguin (Pygoscelis adeliae)     Biscoe              35.0
6         Adelie Penguin (Pygoscelis adeliae)      Dream              37.5
7           Gentoo penguin (Pygoscelis papua)     Biscoe              42.0
8           Gentoo penguin (Pygoscelis papua)     Biscoe              48.5
9         Adelie Penguin (Pygoscelis adeliae)  Torgersen              45.8
10  Chinstrap penguin (Pygoscelis antarctica)      Dream              49.0
11        Adelie Penguin (Pygoscelis adeliae)  Torgersen              35.9
12          Gentoo penguin (Pygoscelis papua)     Biscoe              51.1
13          Gentoo penguin (Pygoscelis papua)     Biscoe              42.6
14  Chinstrap penguin (Pygoscelis antarctica)      Dream              46.9
15        Adelie Penguin (Pygoscelis adeliae)      Dream              41.1
16          Gentoo penguin (Pygoscelis papua)     Biscoe              49.2
17        Adelie Penguin (Pygoscelis adeliae)     Biscoe              38.1
18          Gentoo penguin (Pygoscelis papua)     Biscoe              51.3
19          Gentoo penguin (Pygoscelis papua)     Biscoe              43.6
20          Gentoo penguin (Pygoscelis papua)     Biscoe              42.8
21  Chinstrap penguin (Pygoscelis antarctica)      Dream              50.2
22        Adelie Penguin (Pygoscelis adeliae)      Dream              37.3
23          Gentoo penguin (Pygoscelis papua)     Biscoe              <NA>
24        Adelie Penguin (Pygoscelis adeliae)     Biscoe              39.6
...

[344 rows x 3 columns]

In [32]:
query_job = bigframes.streaming.to_bigtable(
    df.sql,
    instance="streaming-testing-instance",
    table="table-testing",
    service_account_email="streaming-testing@bigframes-load-testing.iam.gserviceaccount.com",
    app_profile=None,
    truncate=True,
    overwrite=True,
    auto_create_column_families=True,
    bigtable_options={},
    job_id=None,
    job_id_prefix=job_id_prefix,
)

/usr/local/google/home/garrettwu/src/bigframes/bigframes/streaming/__init__.py:101: PreviewWarning: The bigframes.streaming module is a preview feature, and subject to change.
  warnings.warn(

In [43]:
print(query_job.state)
print(query_job.error_result)

DONE
{'reason': 'stopped', 'debugInfo': '[CANCELLED] errorProto=code: "JOB_CANCELLED"\nargument: "User requested cancellation"\n\n\tat com.google.cloud.helix.common.Exceptions$Public.jobCancelled(Exceptions.java:947)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2101)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2117)\n\tat com.google.cloud.helix.server.job.LocalJobController.heartbeat(LocalJobController.java:786)\n\tat com.google.cloud.helix.server.job.JobControllerModule$1.heartbeat(JobControllerModule.java:866)\n\tat com.google.cloud.helix.server.job.JobStateMachine$1.heartbeat(JobStateMachine.java:3800)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeatInternal(JobStateMachine.java:3476)\n\tat com.google.cloud.helix.server.job.JobStateMachine.lambda$heartbeat$12(JobStateMachine.java:2733)\n\tat com.google.cloud.helix.common.HelixFutures.wrapSynchronousCall(HelixFutures.java:96)\n\tat com.google.cloud.helix.server.job.JobStateMachine.lambda$runStateSync$13(JobStateMachine.java:2883)\n\tat com.google.cloud.helix.server.job.JobStateMachine.runState(JobStateMachine.java:2901)\n\tat com.google.cloud.helix.server.job.JobStateMachine.runStateSync(JobStateMachine.java:2883)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeat(JobStateMachine.java:2733)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeat(JobStateMachine.java:2708)\n\tat com.google.cloud.helix.server.job.QueuedJobHandler.lambda$addJobs$0(QueuedJobHandler.java:82)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)\n\tat java.base/java.lang.Thread.run(Unknown Source)\n'}

In [42]:
query_job.cancel()

True

In [37]:
df = df[df["culmen_length_mm"] < 40]

In [38]:
df

                                species     island  culmen_length_mm
3   Adelie Penguin (Pygoscelis adeliae)  Torgersen              38.6
5   Adelie Penguin (Pygoscelis adeliae)     Biscoe              35.0
6   Adelie Penguin (Pygoscelis adeliae)      Dream              37.5
11  Adelie Penguin (Pygoscelis adeliae)  Torgersen              35.9
17  Adelie Penguin (Pygoscelis adeliae)     Biscoe              38.1
22  Adelie Penguin (Pygoscelis adeliae)      Dream              37.3
24  Adelie Penguin (Pygoscelis adeliae)     Biscoe              39.6
25  Adelie Penguin (Pygoscelis adeliae)  Torgersen              39.3
28  Adelie Penguin (Pygoscelis adeliae)      Dream              38.1
36  Adelie Penguin (Pygoscelis adeliae)      Dream              36.0
42  Adelie Penguin (Pygoscelis adeliae)  Torgersen              33.5
47  Adelie Penguin (Pygoscelis adeliae)      Dream              37.5
56  Adelie Penguin (Pygoscelis adeliae)     Biscoe              38.2
57  Adelie Penguin (Pygoscelis adeliae)     Biscoe              38.6
58  Adelie Penguin (Pygoscelis adeliae)     Biscoe              35.3
59  Adelie Penguin (Pygoscelis adeliae)     Biscoe              37.7
71  Adelie Penguin (Pygoscelis adeliae)  Torgersen              37.2
72  Adelie Penguin (Pygoscelis adeliae)      Dream              36.5
75  Adelie Penguin (Pygoscelis adeliae)     Biscoe              37.8
76  Adelie Penguin (Pygoscelis adeliae)  Torgersen              36.2
83  Adelie Penguin (Pygoscelis adeliae)      Dream              37.6
86  Adelie Penguin (Pygoscelis adeliae)      Dream              38.8
89  Adelie Penguin (Pygoscelis adeliae)      Dream              39.2
91  Adelie Penguin (Pygoscelis adeliae)     Biscoe              39.6
92  Adelie Penguin (Pygoscelis adeliae)      Dream              39.5
...

[100 rows x 3 columns]

In [57]:
query_job = bigframes.streaming.to_bigtable(
    "SELECT * FROM birds.penguins_bigtable_streaming",
    instance="streaming-testing-instance",
    table="garrettwu-testing",
    service_account_email="streaming-testing@bigframes-load-testing.iam.gserviceaccount.com",
    app_profile=None,
    truncate=True,
    overwrite=True,
    auto_create_column_families=True,
    bigtable_options={},
    job_id=None,
    job_id_prefix=job_id_prefix,
)

In [62]:
df.sql

"WITH t0 AS (\n  SELECT\n    t6.`species`,\n    t6.`island`,\n    t6.`culmen_length_mm`,\n    t6.`culmen_depth_mm`,\n    t6.`flipper_length_mm`,\n    t6.`body_mass_g`,\n    t6.`sex`,\n    farm_fingerprint(\n      CONCAT(\n        CONCAT('\\\\', REPLACE(coalesce(t6.`species`, ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(t6.`island`, ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`culmen_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`culmen_depth_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`flipper_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`body_mass_g` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(t6.`sex`, ''), '\\\\', '\\\\\\\\'))\n      )\n    ) AS `bigframes_ordering_2`,\n    farm_fingerprint(\n      CONCAT(\n        CONCAT(\n          CONCAT('\\\\', REPLACE(coalesce(t6.`species`, ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(t6.`island`, ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`culmen_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`culmen_depth_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`flipper_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`body_mass_g` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(t6.`sex`, ''), '\\\\', '\\\\\\\\'))\n        ),\n        '_'\n      )\n    ) AS `bigframes_ordering_3`,\n    RAND() AS `bigframes_ordering_4`\n  FROM `bigframes-load-testing`.birds.penguins_bigtable_streaming AS t6\n), t1 AS (\n  SELECT\n    t0.`species`,\n    t0.`island`,\n    t0.`culmen_length_mm`,\n    t0.`culmen_depth_mm`,\n    t0.`flipper_length_mm`,\n    t0.`body_mass_g`,\n    t0.`sex`,\n    (\n      row_number() OVER (ORDER BY t0.`bigframes_ordering_2` IS NULL ASC, t0.`bigframes_ordering_2` ASC, t0.`bigframes_ordering_3` IS NULL ASC, t0.`bigframes_ordering_3` ASC, t0.`bigframes_ordering_4` IS NULL ASC, t0.`bigframes_ordering_4` ASC) - 1\n    ) AS `bigframes_ordering_id`\n  FROM t0\n), t2 AS (\n  SELECT\n    t1.`species`,\n    t1.`island`,\n    t1.`culmen_length_mm`,\n    t1.`culmen_depth_mm`,\n    t1.`flipper_length_mm`,\n    t1.`body_mass_g`,\n    t1.`sex`,\n    t1.`bigframes_ordering_id`\n  FROM t1\n), t3 AS (\n  SELECT\n    t2.`species` AS `col_11`,\n    t2.`island` AS `col_12`,\n    t2.`culmen_length_mm` AS `col_13`,\n    t2.`culmen_length_mm` < 40 AS `bigframes_predicate`\n  FROM t2\n), t4 AS (\n  SELECT\n    t3.*\n  FROM t3\n  WHERE\n    t3.`bigframes_predicate`\n)\nSELECT\n  t5.`col_11` AS `species`,\n  t5.`col_12` AS `island`,\n  t5.`col_13` AS `culmen_length_mm`\nFROM (\n  SELECT\n    t4.`col_11`,\n    t4.`col_12`,\n    t4.`col_13`\n  FROM t4\n) AS t5"

In [71]:
print(query_job.state)
print(query_job.error_result)

DONE
{'reason': 'stopped', 'debugInfo': '[CANCELLED] errorProto=code: "JOB_CANCELLED"\nargument: "User requested cancellation"\n\n\tat com.google.cloud.helix.common.Exceptions$Public.jobCancelled(Exceptions.java:947)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2101)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2117)\n\tat com.google.cloud.helix.server.job.LocalJobController.heartbeat(LocalJobController.java:786)\n\tat com.google.cloud.helix.server.job.JobControllerModule$1.heartbeat(JobControllerModule.java:866)\n\tat com.google.cloud.helix.server.job.JobStateMachine$1.heartbeat(JobStateMachine.java:3800)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeatInternal(JobStateMachine.java:3476)\n\tat com.google.cloud.helix.server.job.JobStateMachine.lambda$heartbeat$12(JobStateMachine.java:2733)\n\tat com.google.cloud.helix.common.HelixFutures.wrapSynchronousCall(HelixFutures.java:96)\n\tat com.google.cloud.helix.server.job.JobStateMachine.lambda$runStateSync$13(JobStateMachine.java:2883)\n\tat com.google.cloud.helix.server.job.JobStateMachine.runState(JobStateMachine.java:2901)\n\tat com.google.cloud.helix.server.job.JobStateMachine.runStateSync(JobStateMachine.java:2883)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeat(JobStateMachine.java:2733)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeat(JobStateMachine.java:2708)\n\tat com.google.cloud.helix.server.job.JobJanitor.heartbeatJob(JobJanitor.java:1294)\n\tat com.google.cloud.helix.server.job.JobJanitor.lambda$checkOneJob$1(JobJanitor.java:1266)\n\tat com.google.common.util.concurrent.TrustedListenableFutureTask$TrustedFutureInterruptibleTask.runInterruptibly(TrustedListenableFutureTask.java:135)\n\tat com.google.common.util.concurrent.InterruptibleTask.run(InterruptibleTask.java:77)\n\tat com.google.common.util.concurrent.TrustedListenableFutureTask.run(TrustedListenableFutureTask.java:86)\n\tat com.google.common.context.ContextRunnable.runInContext(ContextRunnable.java:83)\n\tat io.grpc.Context.run(Context.java:536)\n\tat com.google.tracing.GenericContextCallback.runInInheritedContext(GenericContextCallback.java:75)\n\tat com.google.common.context.ContextRunnable.run(ContextRunnable.java:74)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)\n\tat java.base/java.lang.Thread.run(Unknown Source)\n'}

In [68]:
query_job.cancel()

True

In [66]:
query_job1 = bigframes.streaming.to_bigtable(
    "SELECT * FROM birds.penguins_bigtable_streaming",
    instance="streaming-testing-instance",
    table="garrettwu-testing",
    service_account_email="streaming-testing@bigframes-load-testing.iam.gserviceaccount.com",
    app_profile=None,
    truncate=True,
    overwrite=True,
    auto_create_column_families=True,
    bigtable_options={},
    job_id=None,
    job_id_prefix=job_id_prefix,
)

/usr/local/google/home/garrettwu/src/bigframes/bigframes/streaming/__init__.py:101: PreviewWarning: The bigframes.streaming module is a preview feature, and subject to change.
  warnings.warn(

In [82]:
print(query_job1.state)
print(query_job1.error_result)

DONE
{'reason': 'stopped', 'debugInfo': '[CANCELLED] errorProto=code: "JOB_CANCELLED"\nargument: "User requested cancellation"\n\n\tat com.google.cloud.helix.common.Exceptions$Public.jobCancelled(Exceptions.java:947)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2101)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2117)\n\tat com.google.cloud.helix.server.job.LocalJobController.heartbeat(LocalJobController.java:786)\n\tat com.google.cloud.helix.server.job.JobControllerModule$1.heartbeat(JobControllerModule.java:866)\n\tat com.google.cloud.helix.server.job.JobStateMachine$1.heartbeat(JobStateMachine.java:3800)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeatInternal(JobStateMachine.java:3476)\n\tat com.google.cloud.helix.server.job.JobStateMachine.lambda$heartbeat$12(JobStateMachine.java:2733)\n\tat com.google.cloud.helix.common.HelixFutures.wrapSynchronousCall(HelixFutures.java:96)\n\tat com.google.cloud.helix.server.job.JobStateMachine.lambda$runStateSync$13(JobStateMachine.java:2883)\n\tat com.google.cloud.helix.server.job.JobStateMachine.runState(JobStateMachine.java:2901)\n\tat com.google.cloud.helix.server.job.JobStateMachine.runStateSync(JobStateMachine.java:2883)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeat(JobStateMachine.java:2733)\n\tat com.google.cloud.helix.server.job.JobStateMachine.heartbeat(JobStateMachine.java:2708)\n\tat com.google.cloud.helix.server.job.JobJanitor.heartbeatJob(JobJanitor.java:1294)\n\tat com.google.cloud.helix.server.job.JobJanitor.lambda$checkOneJob$1(JobJanitor.java:1266)\n\tat com.google.common.util.concurrent.TrustedListenableFutureTask$TrustedFutureInterruptibleTask.runInterruptibly(TrustedListenableFutureTask.java:135)\n\tat com.google.common.util.concurrent.InterruptibleTask.run(InterruptibleTask.java:77)\n\tat com.google.common.util.concurrent.TrustedListenableFutureTask.run(TrustedListenableFutureTask.java:86)\n\tat com.google.common.context.ContextRunnable.runInContext(ContextRunnable.java:83)\n\tat io.grpc.Context.run(Context.java:536)\n\tat com.google.tracing.GenericContextCallback.runInInheritedContext(GenericContextCallback.java:75)\n\tat com.google.common.context.ContextRunnable.run(ContextRunnable.java:74)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)\n\tat java.base/java.lang.Thread.run(Unknown Source)\n'}

In [81]:
query_job1.cancel()

True

In [3]:
df = bpd.read_gbq("birds.penguins_bigtable_streaming")
df = df[["body_mass_g", "island"]]

In [ ]:
df = bpd.read_gbq("birds.penguins_bigtable_streaming")
df = df[["body_mass_g", "island"]]

In [4]:
df1 = bpd.read_gbq("birds.penguins_bigtable_streaming")
df1 = df1[["culmen_length_mm"]]

/usr/local/google/home/garrettwu/.pyenv/versions/3.10.9/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3526: UserWarning: Reading cached table from 2024-07-23 22:19:58.935137+00:00 to avoid incompatibilies with previous reads of this table. To read the latest version, set `use_cache=False` or close the current session with Session.close() or bigframes.pandas.close_session().
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df2 = df.join(df1)

In [6]:
df2

    body_mass_g     island  culmen_length_mm
0          5400     Biscoe              50.5
1          5000     Biscoe              45.1
2          3875  Torgersen              41.4
3          2900  Torgersen              38.6
4          5200     Biscoe              46.5
5          3725     Biscoe              35.0
6          2975      Dream              37.5
7          4150     Biscoe              42.0
8          5300     Biscoe              48.5
9          4150  Torgersen              45.8
10         4300      Dream              49.0
11         3050  Torgersen              35.9
12         6000     Biscoe              51.1
13         4950     Biscoe              42.6
14         2700      Dream              46.9
15         3900      Dream              41.1
16         6300     Biscoe              49.2
17         3825     Biscoe              38.1
18         5300     Biscoe              51.3
19         4900     Biscoe              43.6
20         4700     Biscoe              42.8
21         3775      Dream              50.2
22         3350      Dream              37.3
23         <NA>     Biscoe              <NA>
24         3900     Biscoe              39.6
...

[344 rows x 3 columns]

In [7]:
df2.sql

"WITH t0 AS (\n  SELECT\n    t8.`species`,\n    t8.`island`,\n    t8.`culmen_length_mm`,\n    t8.`culmen_depth_mm`,\n    t8.`flipper_length_mm`,\n    t8.`body_mass_g`,\n    t8.`sex`,\n    farm_fingerprint(\n      CONCAT(\n        CONCAT('\\\\', REPLACE(coalesce(t8.`species`, ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(t8.`island`, ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t8.`culmen_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t8.`culmen_depth_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t8.`flipper_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t8.`body_mass_g` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(t8.`sex`, ''), '\\\\', '\\\\\\\\'))\n      )\n    ) AS `bigframes_ordering_8`,\n    farm_fingerprint(\n      CONCAT(\n        CONCAT(\n          CONCAT('\\\\', REPLACE(coalesce(t8.`species`, ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(t8.`island`, ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t8.`culmen_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t8.`culmen_depth_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t8.`flipper_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t8.`body_mass_g` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(t8.`sex`, ''), '\\\\', '\\\\\\\\'))\n        ),\n        '_'\n      )\n    ) AS `bigframes_ordering_9`,\n    RAND() AS `bigframes_ordering_10`\n  FROM `bigframes-load-testing`.birds.penguins_bigtable_streaming AS t8\n), t1 AS (\n  SELECT\n    t0.`species`,\n    t0.`island`,\n    t0.`culmen_length_mm`,\n    t0.`culmen_depth_mm`,\n    t0.`flipper_length_mm`,\n    t0.`body_mass_g`,\n    t0.`sex`,\n    (\n      row_number() OVER (ORDER BY t0.`bigframes_ordering_8` IS NULL ASC, t0.`bigframes_ordering_8` ASC, t0.`bigframes_ordering_9` IS NULL ASC, t0.`bigframes_ordering_9` ASC, t0.`bigframes_ordering_10` IS NULL ASC, t0.`bigframes_ordering_10` ASC) - 1\n    ) AS `bigframes_ordering_id`\n  FROM t0\n), t2 AS (\n  SELECT\n    t1.`species`,\n    t1.`island`,\n    t1.`culmen_length_mm`,\n    t1.`culmen_depth_mm`,\n    t1.`flipper_length_mm`,\n    t1.`body_mass_g`,\n    t1.`sex`,\n    t1.`bigframes_ordering_id`\n  FROM t1\n), t3 AS (\n  SELECT\n    t2.`bigframes_ordering_id` AS `index_2`,\n    t2.`culmen_length_mm`\n  FROM t2\n), t4 AS (\n  SELECT\n    t2.`bigframes_ordering_id` AS `index_1`,\n    t2.`body_mass_g`,\n    t2.`island`\n  FROM t2\n), t5 AS (\n  SELECT\n    t3.`index_2` AS `col_6`,\n    t3.`culmen_length_mm` AS `col_7`\n  FROM t3\n), t6 AS (\n  SELECT\n    t4.`index_1` AS `col_3`,\n    t4.`body_mass_g` AS `col_4`,\n    t4.`island` AS `col_5`\n  FROM t4\n)\nSELECT\n  t7.`col_4` AS `body_mass_g`,\n  t7.`col_5` AS `island`,\n  t7.`col_7` AS `culmen_length_mm`\nFROM (\n  SELECT\n    `col_4`,\n    `col_5`,\n    `col_7`\n  FROM t6\n  LEFT OUTER JOIN t5\n    ON coalesce(CAST(t6.`col_3` AS STRING), '$NULL_SENTINEL$') = coalesce(CAST(t5.`col_6` AS STRING), '$NULL_SENTINEL$')\n) AS t7"

In [11]:
df = bpd.read_gbq("birds.penguins_bigtable_streaming")
df = df[["body_mass_g", "culmen_length_mm", "island"]]

/usr/local/google/home/garrettwu/.pyenv/versions/3.10.9/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3526: UserWarning: Reading cached table from 2024-07-23 22:19:58.935137+00:00 to avoid incompatibilies with previous reads of this table. To read the latest version, set `use_cache=False` or close the current session with Session.close() or bigframes.pandas.close_session().
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
df = df.rename(columns={"island": "rowkey"})
df

    body_mass_g  culmen_length_mm     rowkey
0          5400              50.5     Biscoe
1          5000              45.1     Biscoe
2          3875              41.4  Torgersen
3          2900              38.6  Torgersen
4          5200              46.5     Biscoe
5          3725              35.0     Biscoe
6          2975              37.5      Dream
7          4150              42.0     Biscoe
8          5300              48.5     Biscoe
9          4150              45.8  Torgersen
10         4300              49.0      Dream
11         3050              35.9  Torgersen
12         6000              51.1     Biscoe
13         4950              42.6     Biscoe
14         2700              46.9      Dream
15         3900              41.1      Dream
16         6300              49.2     Biscoe
17         3825              38.1     Biscoe
18         5300              51.3     Biscoe
19         4900              43.6     Biscoe
20         4700              42.8     Biscoe
21         3775              50.2      Dream
22         3350              37.3      Dream
23         <NA>              <NA>     Biscoe
24         3900              39.6     Biscoe
...

[344 rows x 3 columns]

In [13]:
df = df[df["body_mass_g"] < 4000]
df

    body_mass_g  culmen_length_mm     rowkey
2          3875              41.4  Torgersen
3          2900              38.6  Torgersen
5          3725              35.0     Biscoe
6          2975              37.5      Dream
11         3050              35.9  Torgersen
14         2700              46.9      Dream
15         3900              41.1      Dream
17         3825              38.1     Biscoe
21         3775              50.2      Dream
22         3350              37.3      Dream
24         3900              39.6     Biscoe
25         3650              39.3  Torgersen
26         3200              40.5     Biscoe
27         3650              45.7      Dream
28         3700              38.1      Dream
30         3800              46.6      Dream
32         3950              51.9      Dream
33         3350              42.5      Dream
36         3100              36.0      Dream
37         3750              51.3      Dream
38         3550              40.6     Biscoe
39         3400              48.5      Dream
41         3450              40.2  Torgersen
42         3600              33.5  Torgersen
48         3650              51.3      Dream
...

[165 rows x 3 columns]

In [14]:
df = df.sort_values("body_mass_g")

In [15]:
df

     body_mass_g  culmen_length_mm     rowkey
14          2700              46.9      Dream
153         2850              36.5     Biscoe
340         2850              36.4     Biscoe
3           2900              38.6  Torgersen
255         2900              33.1      Dream
279         2900              34.5     Biscoe
288         2900              43.2      Dream
189         2925              37.9     Biscoe
6           2975              37.5      Dream
110         3000              37.0      Dream
216         3000              37.3      Dream
11          3050              35.9  Torgersen
178         3050              39.0  Torgersen
292         3050              35.2  Torgersen
314         3050              32.1      Dream
157         3075              37.7     Biscoe
36          3100              36.0      Dream
72          3150              36.5      Dream
76          3150              36.2  Torgersen
256         3150              35.7     Biscoe
286         3150              37.9     Biscoe
316         3175              38.1     Biscoe
318         3175              35.6      Dream
26          3200              40.5     Biscoe
241         3200              39.7     Biscoe
...

[165 rows x 3 columns]

In [99]:
df.sql

"WITH t0 AS (\n  SELECT\n    t6.`species`,\n    t6.`island`,\n    t6.`culmen_length_mm`,\n    t6.`culmen_depth_mm`,\n    t6.`flipper_length_mm`,\n    t6.`body_mass_g`,\n    t6.`sex`,\n    farm_fingerprint(\n      CONCAT(\n        CONCAT('\\\\', REPLACE(coalesce(t6.`species`, ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(t6.`island`, ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`culmen_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`culmen_depth_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`flipper_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`body_mass_g` AS STRING), ''), '\\\\', '\\\\\\\\')),\n        CONCAT('\\\\', REPLACE(coalesce(t6.`sex`, ''), '\\\\', '\\\\\\\\'))\n      )\n    ) AS `bigframes_ordering_3`,\n    farm_fingerprint(\n      CONCAT(\n        CONCAT(\n          CONCAT('\\\\', REPLACE(coalesce(t6.`species`, ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(t6.`island`, ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`culmen_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`culmen_depth_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`flipper_length_mm` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(CAST(t6.`body_mass_g` AS STRING), ''), '\\\\', '\\\\\\\\')),\n          CONCAT('\\\\', REPLACE(coalesce(t6.`sex`, ''), '\\\\', '\\\\\\\\'))\n        ),\n        '_'\n      )\n    ) AS `bigframes_ordering_4`,\n    RAND() AS `bigframes_ordering_5`\n  FROM `bigframes-load-testing`.birds.penguins_bigtable_streaming AS t6\n), t1 AS (\n  SELECT\n    t0.`species`,\n    t0.`island`,\n    t0.`culmen_length_mm`,\n    t0.`culmen_depth_mm`,\n    t0.`flipper_length_mm`,\n    t0.`body_mass_g`,\n    t0.`sex`,\n    (\n      row_number() OVER (ORDER BY t0.`bigframes_ordering_3` IS NULL ASC, t0.`bigframes_ordering_3` ASC, t0.`bigframes_ordering_4` IS NULL ASC, t0.`bigframes_ordering_4` ASC, t0.`bigframes_ordering_5` IS NULL ASC, t0.`bigframes_ordering_5` ASC) - 1\n    ) AS `bigframes_ordering_id`\n  FROM t0\n), t2 AS (\n  SELECT\n    t1.`species`,\n    t1.`island`,\n    t1.`culmen_length_mm`,\n    t1.`culmen_depth_mm`,\n    t1.`flipper_length_mm`,\n    t1.`body_mass_g`,\n    t1.`sex`,\n    t1.`bigframes_ordering_id`\n  FROM t1\n), t3 AS (\n  SELECT\n    t2.`body_mass_g` AS `col_38`,\n    t2.`culmen_length_mm` AS `col_39`,\n    t2.`island` AS `col_40`,\n    t2.`body_mass_g` < 4000 AS `bigframes_predicate`\n  FROM t2\n), t4 AS (\n  SELECT\n    t3.*\n  FROM t3\n  WHERE\n    t3.`bigframes_predicate`\n)\nSELECT\n  t5.`col_38` AS `body_mass_g`,\n  t5.`col_39` AS `culmen_length_mm`,\n  t5.`col_40` AS `rowkey`\nFROM (\n  SELECT\n    t4.`col_38`,\n    t4.`col_39`,\n    t4.`col_40`\n  FROM t4\n) AS t5"

In [92]:
df.peek(10)

AttributeError: 'DataFrame' object has no attribute 'peek'

AttributeError: 'DataFrame' object has no attribute 'sql'

In [16]:
query_job = bigframes.streaming.to_bigtable(
    df.sql,
    instance="streaming-testing-instance",
    table="garrettwu-testing1",
    service_account_email="streaming-testing@bigframes-load-testing.iam.gserviceaccount.com",
    app_profile=None,
    truncate=True,
    overwrite=True,
    auto_create_column_families=True,
    bigtable_options={},
    job_id=None,
    job_id_prefix=job_id_prefix,
)

/usr/local/google/home/garrettwu/src/bigframes/bigframes/streaming/__init__.py:101: PreviewWarning: The bigframes.streaming module is a preview feature, and subject to change.
  warnings.warn(

In [22]:
query_job.running()

False

In [23]:
print(query_job.state)
print(query_job.error_result)
print(query_job.errors)

DONE
{'reason': 'stopped', 'debugInfo': '[CANCELLED] message=[CONTINUOUS_QUERY_RETRYABLE_ERROR] message=Retryable RPC error for continuous query. cause=com.google.net.rpc3.RpcException: CANCELLED debug= errorProto=code: "INTERNAL_ERROR"\nargument: "Error: 4345518"\n errorProto=code: "JOB_CANCELLED"\nargument: "User requested cancellation"\n\n\tat com.google.cloud.helix.common.Exceptions$Public.jobCancelled(Exceptions.java:947)\n\tat com.google.cloud.helix.common.Exceptions.fromCancelRequest(Exceptions.java:2101)\n\tat com.google.cloud.helix.common.CancelState.wrapException(CancelState.java:32)\n\tat com.google.cloud.helix.server.job.LocalJobController.handleJobDone(LocalJobController.java:590)\n\tat com.google.cloud.helix.server.job.LocalJobController.lambda$runThread$0(LocalJobController.java:452)\n\tat com.google.common.util.concurrent.CombinedFuture$CallableInterruptibleTask.runInterruptibly(CombinedFuture.java:198)\n\tat com.google.common.util.concurrent.InterruptibleTask.run(InterruptibleTask.java:77)\n\tat com.google.common.context.ContextRunnable.runInContext(ContextRunnable.java:83)\n\tat io.grpc.Context.run(Context.java:536)\n\tat com.google.tracing.GenericContextCallback.runInInheritedContext(GenericContextCallback.java:75)\n\tat com.google.common.context.ContextRunnable.run(ContextRunnable.java:74)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)\n\tat java.base/java.lang.Thread.run(Unknown Source)\nCaused by: [CONTINUOUS_QUERY_RETRYABLE_ERROR] message=Retryable RPC error for continuous query. cause=com.google.net.rpc3.RpcException: CANCELLED debug= errorProto=code: "INTERNAL_ERROR"\nargument: "Error: 4345518"\n\n\tat com.google.cloud.helix.common.Exceptions.getInternalExceptionNoHash(Exceptions.java:1754)\n\tat com.google.cloud.helix.common.Exceptions.getInternalException(Exceptions.java:1746)\n\tat com.google.cloud.helix.common.Exceptions.getInternalException(Exceptions.java:1729)\n\tat com.google.cloud.helix.common.Exceptions$Internal.continuousQueryRetryableError(Exceptions.java:1498)\n\tat com.google.cloud.helix.common.dremel.QueryExecutorImpl$ConfiguredQueryMigration$StreamHandler.wrapContinuousQueryRpcExceptionAsRetryableError(QueryExecutorImpl.java:798)\n\tat com.google.cloud.helix.common.dremel.QueryExecutorImpl$ConfiguredQueryMigration$StreamHandler.onMessage(QueryExecutorImpl.java:760)\n\tat com.google.cloud.helix.common.dremel.QueryExecutorImpl$ConfiguredQueryMigration$StreamHandler.onMessage(QueryExecutorImpl.java:662)\n\tat com.google.net.rpc3.stream.RpcMessageCallback$Internal$Adapter.onMessage(RpcMessageCallback.java:96)\n\tat com.google.net.rpc3.impl.RpcStreamInternalContext.processMessageUnlocked(RpcStreamInternalContext.java:1747)\n\tat com.google.net.rpc3.impl.RpcStreamInternalContext.invokeCallbacksInternalUnlocked(RpcStreamInternalContext.java:2752)\n\tat com.google.net.rpc3.impl.RpcStreamInternalContext.invokeCallbacksUnlocked(RpcStreamInternalContext.java:2676)\n\tat com.google.net.eventmanager.AbstractFutureTask$Sync.innerRun(AbstractFutureTask.java:259)\n\tat com.google.net.eventmanager.AbstractFutureTask.run(AbstractFutureTask.java:120)\n\tat com.google.net.eventmanager.EventManagerImpl.runTaskTraced(EventManagerImpl.java:901)\n\tat com.google.net.eventmanager.EventManagerImpl.runTask(EventManagerImpl.java:893)\n\tat com.google.net.eventmanager.EventManagerImpl.internalRunWorkerLoop(EventManagerImpl.java:1320)\n\tat com.google.net.eventmanager.EventManagerImpl.runWorkerLoop(EventManagerImpl.java:1211)\n\tat com.google.net.eventmanager.WorkerThreadInfo.runWorkerLoop(WorkerThreadInfo.java:153)\n\tat com.google.net.eventmanager.EventManagerImpl$WorkerThread.run(EventManagerImpl.java:2000)\n\tSuppressed: java.lang.Exception: Including call stack from HelixFutures\n\t\tat com.google.cloud.helix.common.HelixFutures.getHelixException(HelixFutures.java:76)\n\t\tat com.google.cloud.helix.common.HelixFutures.getDone(HelixFutures.java:55)\n\t\tat com.google.cloud.helix.server.job.LocalQueryJobController.handleQueryDoneFromRunJob(LocalQueryJobController.java:2658)\n\t\tat com.google.cloud.helix.server.job.LocalQueryJobController.lambda$runJob$18(LocalQueryJobController.java:2577)\n\t\tat com.google.common.util.concurrent.CombinedFuture$CallableInterruptibleTask.runInterruptibly(CombinedFuture.java:198)\n\t\tat com.google.common.util.concurrent.InterruptibleTask.run(InterruptibleTask.java:77)\n\t\tat com.google.common.context.ContextRunnable.runInContext(ContextRunnable.java:83)\n\t\tat io.grpc.Context.run(Context.java:536)\n\t\tat com.google.tracing.GenericContextCallback.runInInheritedContext(GenericContextCallback.java:75)\n\t\tat com.google.common.context.ContextRunnable.run(ContextRunnable.java:74)\n\t\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)\n\t\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)\n\t\tat java.base/java.lang.Thread.run(Unknown Source)\nCaused by: [CANCELLED] message=com.google.net.rpc3.RpcException: CANCELLED debug=NOTE: JobMigrationService handled this request; check /rpcz on this task\'s :swig port for detailed Dremel RPC status errorProto=code: "JOB_CANCELLED"\nargument: "User requested cancel or job timed out"\n\n\tat com.google.cloud.helix.common.Exceptions$Public.jobCancelled(Exceptions.java:963)\n\tat com.google.cloud.helix.server.job.DremelErrorUtil.createHelixErrorFromDremelRpcException(DremelErrorUtil.java:67)\n\tat com.google.cloud.helix.common.dremel.QueryExecutorImpl$ConfiguredQueryMigration$StreamHandler.onMessage(QueryExecutorImpl.java:747)\n\t... 13 more\nCaused by: com.google.net.rpc3.RpcException: CANCELLED\n\tat com.google.cloud.helix.common.dremel.QueryExecutorImpl$ConfiguredQueryMigration$StreamHandler.onMessage(QueryExecutorImpl.java:748)\n\t... 13 more\n', 'message': 'Job execution was cancelled: User requested cancellation'}
[{'reason': 'stopped', 'message': 'Job execution was cancelled: User requested cancellation'}]

In [19]:
query_job.cancel()

True

In [51]:
query_job = bigframes.streaming.to_bigtable(
    df.sql,
    instance="streaming-testing-instance",
    table="garrettwu-no-col-family",
    service_account_email="streaming-testing-admin@bigframes-load-testing.iam.gserviceaccount.com",
    app_profile=None,
    truncate=True,
    overwrite=True,
    auto_create_column_families=True,
    bigtable_options={},
    job_id=None,
    job_id_prefix=job_id_prefix,
)

In [54]:
print(query_job.running())
print(query_job.state)
print(query_job.error_result)

True
RUNNING
None

In [55]:
query_job.cancel()

True