In [ ]:
# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Demo to Show Anywidget mode

In [ ]:
import bigframes.pandas as bpd

Set the display option to use anywidget

In [2]:
bpd.options.display.repr_mode = "anywidget"

Create a BigQuery DataFrame

In [3]:
df = bpd.read_gbq("bigquery-public-data.usa_names.usa_1910_2013")

Display the dataframe in anywidget mode

In [4]:
df

/usr/local/google/home/shuowei/src/python-bigquery-dataframes/venv/lib/python3.10/site-packages/IPython/core/formatters.py:429: FormatterWarning: text/html formatter returned invalid type <class 'anywidget.widget.AnyWidget'> (expected <class 'str'>) for object:    state gender  year       name  number
0     VA      M  1930        Pat       6
1     NY      M  1993       Yves       5
2     LA      F  1993     Keosha       9
3     TX      M  1911     Willie     167
4     LA      F  1993       Jill       9
5     MO      F  1980    Kendall       6
6     VA      F  1997      Chloe      48
7     MS      M  2002     Robert     170
8     CT      F  1952      Agnes       9
9     TN      F  2005     Lainey      13
10    TN      F  1999     Melina       7
11    MI      F  2012     Tianna       6
12    PA      F  1943      Velma      28
13    MO      M  1933      Jesse      68
14    CO      M  2007    Bennett      20
15    SC      F  1917     Cecile      10
16    WA      M  1987     Adrian      52
17    MN      M  1940       Arlo       7
18    AR      M  1960       Pete       5
19    OR      F  1998    Abigail     130
20    MI      M  1959    Darrell     164
21    FL      F  2013  Gabrielle     144
22    NC      F  1984      Celia      11
23    FL      M  1988    Tavares      12
24    TX      M  1968    Kennith      18
  warnings.warn(

   state gender  year       name  number
0     VA      M  1930        Pat       6
1     NY      M  1993       Yves       5
2     LA      F  1993     Keosha       9
3     TX      M  1911     Willie     167
4     LA      F  1993       Jill       9
5     MO      F  1980    Kendall       6
6     VA      F  1997      Chloe      48
7     MS      M  2002     Robert     170
8     CT      F  1952      Agnes       9
9     TN      F  2005     Lainey      13
10    TN      F  1999     Melina       7
11    MI      F  2012     Tianna       6
12    PA      F  1943      Velma      28
13    MO      M  1933      Jesse      68
14    CO      M  2007    Bennett      20
15    SC      F  1917     Cecile      10
16    WA      M  1987     Adrian      52
17    MN      M  1940       Arlo       7
18    AR      M  1960       Pete       5
19    OR      F  1998    Abigail     130
20    MI      M  1959    Darrell     164
21    FL      F  2013  Gabrielle     144
22    NC      F  1984      Celia      11
23    FL      M  1988    Tavares      12
24    TX      M  1968    Kennith      18