# Demo to Show DataFrame Operations

In [1]:
# On the instance where you are running jupyter,
# authenticate with gcloud first:
#
#     gcloud auth application-default login

import bigframes.pandas as bpd

bpd.options.bigquery.location = "US"

In [2]:
df = bpd.read_gbq("bigquery-public-data.baseball.schedules")

### Select a subset of the DF

In [3]:
df = df[["gameId", "year", "homeTeamName", "awayTeamName", "duration_minutes"]]

In [4]:
df
# Here starts real execution, may take a while

,gameId,year,homeTeamName,awayTeamName,duration_minutes
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175

In [5]:
df.shape

(2431, 5)

### Retrieve properties of the DF.

In [6]:
df.dtypes

gameId              string[pyarrow]
year                          Int64
homeTeamName        string[pyarrow]
awayTeamName        string[pyarrow]
duration_minutes              Int64
dtype: object

In [7]:
df.columns

Index(['gameId', 'year', 'homeTeamName', 'awayTeamName', 'duration_minutes'], dtype='object')

### Add a new column

In [8]:
df = df.assign(title=df['homeTeamName'] + " vs " + df['awayTeamName'])
df

,gameId,year,homeTeamName,awayTeamName,duration_minutes,title
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187,Marlins vs Cubs
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189,Marlins vs Cubs
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165,Braves vs Cubs
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222,Braves vs Cubs
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164,Phillies vs Cubs
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201,Diamondbacks vs Cubs
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173,Athletics vs Cubs
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176,Athletics vs Cubs
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180,Rockies vs Cubs
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157,Cardinals vs Cubs
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218,Cardinals vs Cubs
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160,Cardinals vs Cubs
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178,Pirates vs Cubs
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205,Pirates vs Cubs
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197,Giants vs Cubs
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198,Reds vs Cubs
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188,Reds vs Cubs
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188,Reds vs Cubs
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194,Reds vs Cubs
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175,Padres vs Cubs

### Manipulate the column

In [9]:
df = df.rename(columns={"title": "headline"})
df

,gameId,year,homeTeamName,awayTeamName,duration_minutes,headline
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187,Marlins vs Cubs
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189,Marlins vs Cubs
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165,Braves vs Cubs
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222,Braves vs Cubs
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164,Phillies vs Cubs
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201,Diamondbacks vs Cubs
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173,Athletics vs Cubs
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176,Athletics vs Cubs
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180,Rockies vs Cubs
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157,Cardinals vs Cubs
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218,Cardinals vs Cubs
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160,Cardinals vs Cubs
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178,Pirates vs Cubs
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205,Pirates vs Cubs
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197,Giants vs Cubs
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198,Reds vs Cubs
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188,Reds vs Cubs
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188,Reds vs Cubs
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194,Reds vs Cubs
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175,Padres vs Cubs

In [10]:
df = df.drop(columns="headline")

In [11]:
df

,gameId,year,homeTeamName,awayTeamName,duration_minutes
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175

### Drop Nan values

In [12]:
df = df.dropna()
df

,gameId,year,homeTeamName,awayTeamName,duration_minutes
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175

### Join two DFs

In [13]:
df1 = df[["gameId", "homeTeamName"]]
df1

                                  gameId  homeTeamName
0   e14b6493-9e7f-404f-840a-8a680cc364bf       Marlins
1   1f32b347-cbcb-4c31-a145-0e685306d168       Marlins
2   0c2292d1-7398-48be-bf8e-b41dad5e1a43        Braves
3   8fbec734-a15a-42ab-8d51-60790de7750b        Braves
4   89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd      Phillies
5   6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52  Diamondbacks
6   76ea8662-c7e6-4c38-8f2a-efe373e428ce     Athletics
7   66fad23d-6e89-4f99-be29-d49b6e94f95d     Athletics
8   d977367c-cf0c-4687-95a0-eb4542efcb01       Rockies
9   a87070ff-1084-43ca-a7ba-69278f93ecba     Cardinals
10  ea6b350d-3c1d-4737-878d-4465f66999f6     Cardinals
11  46463c50-0f5c-4dca-a661-dd194464e791     Cardinals
12  59134e6d-9d13-49aa-978e-c3c2300eb90f       Pirates
13  387630a3-a894-4327-baa1-b24ec1a654d9       Pirates
14  5d084e13-94fd-4995-b95a-4801ea3ed556        Giants
15  34444c94-03ec-4d12-96af-68b8f399a22f          Reds
16  9580bffe-22e1-4975-978b-1b13e7505193          Reds
17  645e6a08-afd6-4677-a5c9-01ef446b0cf3          Reds
18  08981bd8-d1d7-48e1-8668-9098b8f7fe90          Reds
19  303703bb-b55f-476d-8faf-bf582169fb1d        Padres
20  71ab82a4-6e07-430a-b695-1af3bc42ea61     Nationals
21  d1a110c2-f6c8-4029-bcd8-2f8a01e1561c       Brewers
22  6d111b57-fa0b-4f24-82df-ff33a26f0252       Brewers
23  a97e9539-bbbd-4e03-bf15-f25ea2c1d923       Brewers
24  dc0c9218-505c-4725-8c0c-40b72cca0956        Astros
...

[2431 rows x 2 columns]

In [14]:
df2 = df[["gameId", "awayTeamName"]].head(2)
df2

                                 gameId awayTeamName
0  e14b6493-9e7f-404f-840a-8a680cc364bf         Cubs
1  1f32b347-cbcb-4c31-a145-0e685306d168         Cubs

[2 rows x 2 columns]

In [15]:
df1.merge(df2, on="gameId", how="inner")

                                 gameId homeTeamName awayTeamName
0  e14b6493-9e7f-404f-840a-8a680cc364bf      Marlins         Cubs
1  1f32b347-cbcb-4c31-a145-0e685306d168      Marlins         Cubs

[2 rows x 3 columns]

In [16]:
df1.merge(df2, on="gameId", how="outer")

                                  gameId  homeTeamName awayTeamName
0   e14b6493-9e7f-404f-840a-8a680cc364bf       Marlins         Cubs
1   1f32b347-cbcb-4c31-a145-0e685306d168       Marlins         Cubs
2   0c2292d1-7398-48be-bf8e-b41dad5e1a43        Braves         <NA>
3   8fbec734-a15a-42ab-8d51-60790de7750b        Braves         <NA>
4   89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd      Phillies         <NA>
5   6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52  Diamondbacks         <NA>
6   76ea8662-c7e6-4c38-8f2a-efe373e428ce     Athletics         <NA>
7   66fad23d-6e89-4f99-be29-d49b6e94f95d     Athletics         <NA>
8   d977367c-cf0c-4687-95a0-eb4542efcb01       Rockies         <NA>
9   a87070ff-1084-43ca-a7ba-69278f93ecba     Cardinals         <NA>
10  ea6b350d-3c1d-4737-878d-4465f66999f6     Cardinals         <NA>
11  46463c50-0f5c-4dca-a661-dd194464e791     Cardinals         <NA>
12  59134e6d-9d13-49aa-978e-c3c2300eb90f       Pirates         <NA>
13  387630a3-a894-4327-baa1-b24ec1a654d9       Pirates         <NA>
14  5d084e13-94fd-4995-b95a-4801ea3ed556        Giants         <NA>
15  34444c94-03ec-4d12-96af-68b8f399a22f          Reds         <NA>
16  9580bffe-22e1-4975-978b-1b13e7505193          Reds         <NA>
17  645e6a08-afd6-4677-a5c9-01ef446b0cf3          Reds         <NA>
18  08981bd8-d1d7-48e1-8668-9098b8f7fe90          Reds         <NA>
19  303703bb-b55f-476d-8faf-bf582169fb1d        Padres         <NA>
20  71ab82a4-6e07-430a-b695-1af3bc42ea61     Nationals         <NA>
21  d1a110c2-f6c8-4029-bcd8-2f8a01e1561c       Brewers         <NA>
22  6d111b57-fa0b-4f24-82df-ff33a26f0252       Brewers         <NA>
23  a97e9539-bbbd-4e03-bf15-f25ea2c1d923       Brewers         <NA>
24  dc0c9218-505c-4725-8c0c-40b72cca0956        Astros         <NA>
...

[2431 rows x 3 columns]

In [17]:
df1.merge(df2, on="gameId", how="left")

                                  gameId  homeTeamName awayTeamName
0   e14b6493-9e7f-404f-840a-8a680cc364bf       Marlins         Cubs
1   1f32b347-cbcb-4c31-a145-0e685306d168       Marlins         Cubs
2   0c2292d1-7398-48be-bf8e-b41dad5e1a43        Braves         <NA>
3   8fbec734-a15a-42ab-8d51-60790de7750b        Braves         <NA>
4   89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd      Phillies         <NA>
5   6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52  Diamondbacks         <NA>
6   76ea8662-c7e6-4c38-8f2a-efe373e428ce     Athletics         <NA>
7   66fad23d-6e89-4f99-be29-d49b6e94f95d     Athletics         <NA>
8   d977367c-cf0c-4687-95a0-eb4542efcb01       Rockies         <NA>
9   a87070ff-1084-43ca-a7ba-69278f93ecba     Cardinals         <NA>
10  ea6b350d-3c1d-4737-878d-4465f66999f6     Cardinals         <NA>
11  46463c50-0f5c-4dca-a661-dd194464e791     Cardinals         <NA>
12  59134e6d-9d13-49aa-978e-c3c2300eb90f       Pirates         <NA>
13  387630a3-a894-4327-baa1-b24ec1a654d9       Pirates         <NA>
14  5d084e13-94fd-4995-b95a-4801ea3ed556        Giants         <NA>
15  34444c94-03ec-4d12-96af-68b8f399a22f          Reds         <NA>
16  9580bffe-22e1-4975-978b-1b13e7505193          Reds         <NA>
17  645e6a08-afd6-4677-a5c9-01ef446b0cf3          Reds         <NA>
18  08981bd8-d1d7-48e1-8668-9098b8f7fe90          Reds         <NA>
19  303703bb-b55f-476d-8faf-bf582169fb1d        Padres         <NA>
20  71ab82a4-6e07-430a-b695-1af3bc42ea61     Nationals         <NA>
21  d1a110c2-f6c8-4029-bcd8-2f8a01e1561c       Brewers         <NA>
22  6d111b57-fa0b-4f24-82df-ff33a26f0252       Brewers         <NA>
23  a97e9539-bbbd-4e03-bf15-f25ea2c1d923       Brewers         <NA>
24  dc0c9218-505c-4725-8c0c-40b72cca0956        Astros         <NA>
...

[2431 rows x 3 columns]

In [18]:
df1.merge(df2, on="gameId", how="right")

                                 gameId homeTeamName awayTeamName
0  e14b6493-9e7f-404f-840a-8a680cc364bf      Marlins         Cubs
1  1f32b347-cbcb-4c31-a145-0e685306d168      Marlins         Cubs

[2 rows x 3 columns]

### Concat two DFs

In [19]:
bpd.concat([df, df])

,gameId,year,homeTeamName,awayTeamName,duration_minutes
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175

### Access column through property

In [20]:
df.homeTeamName

0               Marlins
1               Marlins
2                Braves
3                Braves
4              Phillies
             ...
2426            Dodgers
2427            Dodgers
2428               Mets
2429               Mets
2430    American League
Name: homeTeamName, Length: 2431, dtype: string

### Retrieve SQL

In [21]:
print(df1.merge(df2, on="gameId", how="inner")._to_sql_query(always_include_index=False)[0])

WITH t0 AS (
  SELECT t17.*, t17.`bigframes_ordering_id` AS `bigframes_index_0`
  FROM (
    SELECT * FROM `7150072e4dc649849bc421d3a492eee1`
  ) t17
),
t1 AS (
  SELECT coalesce(`bigframes_ordering_id`, `bigframes_ordering_id`) AS `index_2`,
         CONCAT(CONCAT(t0.`homeTeamName`, ' vs '), t0.`awayTeamName`) AS `col_3`,
         t0.`bigframes_ordering_id` AS `bigframes_ordering_id`
  FROM t0
),
t2 AS (
  SELECT `bigframes_ordering_id` AS `bigframes_index_0`, t0.`gameId`, t0.`year`,
         t0.`homeTeamName`, t0.`awayTeamName`, t0.`duration_minutes`,
         t0.`bigframes_ordering_id`
  FROM t0
),
t3 AS (
  SELECT t2.`bigframes_index_0`, t2.`gameId`, t2.`year`, t2.`homeTeamName`,
         t2.`awayTeamName`, t2.`duration_minutes`,
         t2.`bigframes_ordering_id` AS `bigframes_ordering_id_x`,
         t1.`index_2`, t1.`col_3`,
         t1.`bigframes_ordering_id` AS `bigframes_ordering_id_y`
  FROM t2
    LEFT OUTER JOIN t1
      ON IFNULL(CAST(t2.`bigframes_index_0` AS STRING), '$NULL_SENTINEL$') = IFNULL(CAST(t1.`index_2` AS STRING), '$NULL_SENTINEL$')
),
t4 AS (
  SELECT coalesce(t3.`bigframes_index_0`, t3.`index_2`) AS `index_5`,
         t3.`gameId`, t3.`awayTeamName`,
         ((((t3.`gameId` IS NOT NULL) AND (t3.`year` IS NOT NULL)) AND (t3.`homeTeamName` IS NOT NULL)) AND (t3.`awayTeamName` IS NOT NULL)) AND (t3.`duration_minutes` IS NOT NULL) AS `bigframes_predicate`,
         (row_number() OVER (PARTITION BY ((((t3.`gameId` IS NOT NULL) AND (t3.`year` IS NOT NULL)) AND (t3.`homeTeamName` IS NOT NULL)) AND (t3.`awayTeamName` IS NOT NULL)) AND (t3.`duration_minutes` IS NOT NULL) ORDER BY CONCAT(IFNULL(lpad(CAST(t3.`bigframes_ordering_id_x` AS STRING), 19, '0'), ':::::::::::::::::::'), IFNULL(lpad(CAST(t3.`bigframes_ordering_id_y` AS STRING), 19, '0'), ':::::::::::::::::::')) IS NULL ASC, CONCAT(IFNULL(lpad(CAST(t3.`bigframes_ordering_id_x` AS STRING), 19, '0'), ':::::::::::::::::::'), IFNULL(lpad(CAST(t3.`bigframes_ordering_id_y` AS STRING), 19, '0'), ':::::::::::::::::::')) ASC) - 1) AS `bigframes_ordering_id`
  FROM t3
),
t5 AS (
  SELECT t4.*
  FROM t4
  WHERE t4.`bigframes_predicate`
),
t6 AS (
  SELECT t5.`index_5`, t5.`gameId`, t5.`awayTeamName`,
         t5.`bigframes_ordering_id`
  FROM t5
),
t7 AS (
  SELECT t6.`index_5`, t6.`gameId`, t6.`awayTeamName`,
         (t6.`bigframes_ordering_id` = t6.`bigframes_ordering_id`) AND (t6.`bigframes_ordering_id` < 2) AS `bigframes_predicate`,
         t6.`bigframes_ordering_id`
  FROM t6
),
t8 AS (
  SELECT coalesce(t3.`bigframes_index_0`, t3.`index_2`) AS `index_5`,
         t3.`gameId`, t3.`homeTeamName`,
         ((((t3.`gameId` IS NOT NULL) AND (t3.`year` IS NOT NULL)) AND (t3.`homeTeamName` IS NOT NULL)) AND (t3.`awayTeamName` IS NOT NULL)) AND (t3.`duration_minutes` IS NOT NULL) AS `bigframes_predicate`,
         CONCAT(IFNULL(lpad(CAST(t3.`bigframes_ordering_id_x` AS STRING), 19, '0'), ':::::::::::::::::::'), IFNULL(lpad(CAST(t3.`bigframes_ordering_id_y` AS STRING), 19, '0'), ':::::::::::::::::::')) AS `bigframes_ordering_id`
  FROM t3
),
t9 AS (
  SELECT t7.*
  FROM t7
  WHERE t7.`bigframes_predicate`
),
t10 AS (
  SELECT t8.*
  FROM t8
  WHERE t8.`bigframes_predicate`
),
t11 AS (
  SELECT t9.`index_5`, t9.`gameId`, t9.`awayTeamName`,
         t9.`bigframes_ordering_id`
  FROM t9
),
t12 AS (
  SELECT t10.`index_5`, t10.`gameId`, t10.`homeTeamName`,
         t10.`bigframes_ordering_id`
  FROM t10
),
t13 AS (
  SELECT t12.`index_5` AS `index_5_x`, t12.`gameId` AS `gameId_x`,
         t12.`homeTeamName`,
         t12.`bigframes_ordering_id` AS `bigframes_ordering_id_x`,
         t11.`index_5` AS `index_5_y`, t11.`gameId` AS `gameId_y`,
         t11.`awayTeamName`,
         t11.`bigframes_ordering_id` AS `bigframes_ordering_id_y`
  FROM t12
    INNER JOIN t11
      ON IFNULL(t12.`gameId`, '$NULL_SENTINEL$') = IFNULL(t11.`gameId`, '$NULL_SENTINEL$')
),
t14 AS (
  SELECT coalesce(t13.`gameId_x`, t13.`gameId_y`) AS `index_24`,
         t13.`homeTeamName`, t13.`awayTeamName`,
         (row_number() OVER (ORDER BY CONCAT(IFNULL(lpad(t13.`bigframes_ordering_id_x`, 38, '0'), '::::::::::::::::::::::::::::::::::::::'), IFNULL(lpad(CAST(t13.`bigframes_ordering_id_y` AS STRING), 19, '0'), ':::::::::::::::::::')) IS NULL ASC, CONCAT(IFNULL(lpad(t13.`bigframes_ordering_id_x`, 38, '0'), '::::::::::::::::::::::::::::::::::::::'), IFNULL(lpad(CAST(t13.`bigframes_ordering_id_y` AS STRING), 19, '0'), ':::::::::::::::::::')) ASC) - 1) AS `bigframes_ordering_id`
  FROM t13
),
t15 AS (
  SELECT t14.`bigframes_ordering_id` AS `col_25`, t14.`index_24`,
         t14.`homeTeamName`, t14.`awayTeamName`
  FROM t14
)
SELECT t16.`index_24` AS `gameId`, t16.`homeTeamName`, t16.`awayTeamName`
FROM (
  SELECT t15.`index_24`, t15.`homeTeamName`, t15.`awayTeamName`
  FROM t15
) t16

### Special Column Names

In [22]:
df.rename(columns={"homeTeamName": "HOME    TEAM"})

,gameId,year,HOME TEAM,awayTeamName,duration_minutes
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175

In [23]:
df.rename(columns={"homeTeamName": "homeTeam!@#$%col"})

,gameId,year,homeTeam!@#$%col,awayTeamName,duration_minutes
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175

In [24]:
df3 = df.rename(columns={"homeTeamName": "team", "awayTeamName": "team"})
df3

,gameId,year,team,team,duration_minutes
0,e14b6493-9e7f-404f-840a-8a680cc364bf,2016,Marlins,Cubs,187
1,1f32b347-cbcb-4c31-a145-0e685306d168,2016,Marlins,Cubs,189
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,2016,Braves,Cubs,165
3,8fbec734-a15a-42ab-8d51-60790de7750b,2016,Braves,Cubs,222
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,2016,Phillies,Cubs,164
5,6a83e76c-dc0d-4924-9d3d-a2e7e0ab5b52,2016,Diamondbacks,Cubs,201
6,76ea8662-c7e6-4c38-8f2a-efe373e428ce,2016,Athletics,Cubs,173
7,66fad23d-6e89-4f99-be29-d49b6e94f95d,2016,Athletics,Cubs,176
8,d977367c-cf0c-4687-95a0-eb4542efcb01,2016,Rockies,Cubs,180
9,a87070ff-1084-43ca-a7ba-69278f93ecba,2016,Cardinals,Cubs,157
10,ea6b350d-3c1d-4737-878d-4465f66999f6,2016,Cardinals,Cubs,218
11,46463c50-0f5c-4dca-a661-dd194464e791,2016,Cardinals,Cubs,160
12,59134e6d-9d13-49aa-978e-c3c2300eb90f,2016,Pirates,Cubs,178
13,387630a3-a894-4327-baa1-b24ec1a654d9,2016,Pirates,Cubs,205
14,5d084e13-94fd-4995-b95a-4801ea3ed556,2016,Giants,Cubs,197
15,34444c94-03ec-4d12-96af-68b8f399a22f,2016,Reds,Cubs,198
16,9580bffe-22e1-4975-978b-1b13e7505193,2016,Reds,Cubs,188
17,645e6a08-afd6-4677-a5c9-01ef446b0cf3,2016,Reds,Cubs,188
18,08981bd8-d1d7-48e1-8668-9098b8f7fe90,2016,Reds,Cubs,194
19,303703bb-b55f-476d-8faf-bf582169fb1d,2016,Padres,Cubs,175

In [25]:
df3["team"]

            team  team
0        Marlins  Cubs
1        Marlins  Cubs
2         Braves  Cubs
3         Braves  Cubs
4       Phillies  Cubs
5   Diamondbacks  Cubs
6      Athletics  Cubs
7      Athletics  Cubs
8        Rockies  Cubs
9      Cardinals  Cubs
10     Cardinals  Cubs
11     Cardinals  Cubs
12       Pirates  Cubs
13       Pirates  Cubs
14        Giants  Cubs
15          Reds  Cubs
16          Reds  Cubs
17          Reds  Cubs
18          Reds  Cubs
19        Padres  Cubs
20     Nationals  Cubs
21       Brewers  Cubs
22       Brewers  Cubs
23       Brewers  Cubs
24        Astros  Cubs
...

[2431 rows x 2 columns]

### Binary Operation

In [26]:
df4 = df[["year", "duration_minutes"]]
df4

    year  duration_minutes
0   2016               187
1   2016               189
2   2016               165
3   2016               222
4   2016               164
5   2016               201
6   2016               173
7   2016               176
8   2016               180
9   2016               157
10  2016               218
11  2016               160
12  2016               178
13  2016               205
14  2016               197
15  2016               198
16  2016               188
17  2016               188
18  2016               194
19  2016               175
20  2016               257
21  2016               178
22  2016               171
23  2016               248
24  2016               174
...

[2431 rows x 2 columns]

In [27]:
df4 + 1

    year  duration_minutes
0   2017               188
1   2017               190
2   2017               166
3   2017               223
4   2017               165
5   2017               202
6   2017               174
7   2017               177
8   2017               181
9   2017               158
10  2017               219
11  2017               161
12  2017               179
13  2017               206
14  2017               198
15  2017               199
16  2017               189
17  2017               189
18  2017               195
19  2017               176
20  2017               258
21  2017               179
22  2017               172
23  2017               249
24  2017               175
...

[2431 rows x 2 columns]