# Job History Manual Test\n
\n
This notebook demonstrates and manually tests the `bigframes.pandas.job_history()` functionality.

In [1]:
import pandas as pd
import bigframes.pandas as bpd

# Set options if needed, e.g. project/location
# bpd.options.bigquery.project = "YOUR_PROJECT"
# bpd.options.bigquery.location = "US"

## 1. Trigger a Query Job (read_gbq)

In [2]:
df = bpd.read_gbq("SELECT 1 as a, 2 as b")
df.head()

   a  b
0  1  2

[1 rows x 2 columns]

## 2. Trigger a Load Job (read_pandas)

In [3]:
local_df = pd.DataFrame({'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']})
bf_df = bpd.read_pandas(local_df)
bf_df.head()

   col1 col2
0     1    a
1     2    b
2     3    c

[3 rows x 2 columns]

## 3. Trigger a Computation (Computation Job)

In [4]:
# Perform a simple aggregation to trigger a computation
agg_df = bf_df.groupby('col2').sum()
agg_df.head()

      col1
col2
a        1
b        2
c        3

[3 rows x 1 columns]

## 4. Check Job History

In [5]:
history = bpd.job_history()
history

,job_id,query_id,location,project,creation_time,start_time,end_time,duration_seconds,status,total_bytes_processed,...,error_result,cached,job_url,query,destination_table,source_uris,input_files,input_bytes,output_rows,source_format
0,None,DYKpEU608_foQAqHltOXN381FFz4!19c2c4c8e93,US,None,2026-02-05 05:35:40.650000+00:00,2026-02-05 05:35:40.691000+00:00,2026-02-05 05:35:40.782000+00:00,0.132,DONE,0,...,None,None,None,"SELECT 1 as a, 2 as b",None,None,None,None,None,None
1,e05becac-dd84-42ab-ac63-5c14cac5d1ec,None,US,bigframes-dev,2026-02-05 05:35:42.322000+00:00,2026-02-05 05:35:42.577000+00:00,2026-02-05 05:35:43.971000+00:00,1.649,DONE,0,...,None,False,https://console.cloud.google.com/bigquery?proj...,"SELECT\n`bfuid_col_1` AS `bfuid_col_1`,\n`a` A...",bigframes-dev._8b037bfb7316dddf9d92b12dcf93e00...,None,None,None,None,None
2,None,nRxqk3Wr_1sYIZlk1kVUbNPmBz-s@19c2c4c9ec4,US,None,2026-02-05 05:35:44.690000+00:00,2026-02-05 05:35:44.836000+00:00,2026-02-05 05:35:45+00:00,0.310,DONE,32,...,None,None,None,"SELECT\n`bfuid_col_1` AS `bfuid_col_1`,\n`a` A...",None,None,None,None,None,None
3,fb392a60-d669-4a24-acec-ec9206c313dc,None,US,bigframes-dev,2026-02-05 05:35:45.860000+00:00,2026-02-05 05:35:46.035000+00:00,2026-02-05 05:35:47.340000+00:00,1.480,DONE,0,...,None,False,https://console.cloud.google.com/bigquery?proj...,"SELECT\n `t0`.`level_0`,\n `t0`.`column_0`,\...",bigframes-dev._8b037bfb7316dddf9d92b12dcf93e00...,None,None,None,None,None
4,None,XQGOd9iV2zzzatbrBKqFvjAHkO7v^19c2c4cab05,US,None,2026-02-05 05:35:47.857000+00:00,2026-02-05 05:35:47.973000+00:00,2026-02-05 05:35:48.100000+00:00,0.243,DONE,81,...,None,None,None,"SELECT\n`level_0` AS `level_0`,\n`column_0` AS...",None,None,None,None,None,None
5,2a0ecc0a-02b2-46e6-a50b-710f2168715c,None,US,bigframes-dev,2026-02-05 05:35:49.085000+00:00,2026-02-05 05:35:49.336000+00:00,2026-02-05 05:35:50.699000+00:00,1.614,DONE,0,...,None,False,https://console.cloud.google.com/bigquery?proj...,"SELECT\n`column_1` AS `column_1`,\n`bfuid_col_...",bigframes-dev._8b037bfb7316dddf9d92b12dcf93e00...,None,None,None,None,None
6,None,6ogNo1ZJgaNHIqm0YlUi3lpQGO20%19c2c4cb801,US,None,2026-02-05 05:35:51.185000+00:00,2026-02-05 05:35:51.297000+00:00,2026-02-05 05:35:51.446000+00:00,0.261,DONE,57,...,None,None,None,"SELECT\n`column_1` AS `column_1`,\n`bfuid_col_...",None,None,None,None,None,None

### Verify Specific Columns

In [6]:
# Display key columns to verify data population
cols_to_check = [
    'job_id',
    'job_type',
    'creation_time',
    'duration_seconds',
    'total_bytes_processed',
    'query',
    'input_files',  # Should be populated for Load Job
    'destination_table'
]

# Filter columns that exist in the history DataFrame
existing_cols = [col for col in cols_to_check if col in history.columns]
history[existing_cols]

,job_id,job_type,creation_time,duration_seconds,total_bytes_processed,query,input_files,destination_table
0,None,query,2026-02-05 05:35:40.650000+00:00,0.132,0,"SELECT 1 as a, 2 as b",None,None
1,e05becac-dd84-42ab-ac63-5c14cac5d1ec,query,2026-02-05 05:35:42.322000+00:00,1.649,0,"SELECT\n`bfuid_col_1` AS `bfuid_col_1`,\n`a` A...",None,bigframes-dev._8b037bfb7316dddf9d92b12dcf93e00...
2,None,query,2026-02-05 05:35:44.690000+00:00,0.310,32,"SELECT\n`bfuid_col_1` AS `bfuid_col_1`,\n`a` A...",None,None
3,fb392a60-d669-4a24-acec-ec9206c313dc,query,2026-02-05 05:35:45.860000+00:00,1.480,0,"SELECT\n `t0`.`level_0`,\n `t0`.`column_0`,\...",None,bigframes-dev._8b037bfb7316dddf9d92b12dcf93e00...
4,None,query,2026-02-05 05:35:47.857000+00:00,0.243,81,"SELECT\n`level_0` AS `level_0`,\n`column_0` AS...",None,None
5,2a0ecc0a-02b2-46e6-a50b-710f2168715c,query,2026-02-05 05:35:49.085000+00:00,1.614,0,"SELECT\n`column_1` AS `column_1`,\n`bfuid_col_...",None,bigframes-dev._8b037bfb7316dddf9d92b12dcf93e00...
6,None,query,2026-02-05 05:35:51.185000+00:00,0.261,57,"SELECT\n`column_1` AS `column_1`,\n`bfuid_col_...",None,None